@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    font-size: 17px;
}

main{
    background: #0a0519;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header{
    display: flex;
    width: 280px; 
    justify-content: space-between;
    margin-bottom: 35px; 
}

#header .player {
    background: #17122A;
    width: 75px; 
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 14px;
    border: solid 5px #17122A;
    opacity: 0.5;
    transition: 0.3s;
}

#header .player:hover {
    border: solid 5px #2a2343;
}

#header .player.player-active:hover {
    opacity: 1;
    border: solid 5px #2a2343;
}

#header #displayPlayer1{
    color: #1892ea;
}

#header #displayPlayer2{
    color: #ff6878;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 85px);
    grid-template-rows: repeat(3, 85px); 
    gap: 12px; 
}

#board .cell{
    display: flex;
    background: #17122A;
    border-radius: 14px; 
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
}

/*Buat Jumlah Pion*/
#pawn {
    padding-top: 20px;
    display: flex;
    gap: 12px;
    justify-content: center;
}

#pawn .pawnCell {
    display: flex;
    background: #17122A;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px;
    font-size: 24px;
}


#restartButton{
    margin-top: 35px;
    padding: 8px 18px;
    font-size: 18px;
    background: #17122A;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    /*visibility: hidden; ini buat kalo udah menang atau kalah baru muncul*/ 
}

#restartButton:hover {
    background: #2A2343;
}
