@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    color: #333333; 
}

html {
    font-size: 17px;
}

main{
    background: #EAF6FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header{
    display: flex;
    width: 280px; 
    justify-content: space-between;
    margin-bottom: 35px; 
}

#header .player {
    background: #FFD1C1;
    width: 75px; 
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 14px;
    border: solid 2px #FF6F61;
    opacity: 0.9;
    transition: 0.3s;
}

#header .player:hover {
    border: solid 2px #FF4B3E; 
}

#header .player.player-active:hover {
    opacity: 1;
    border: solid 2px #FF4B3E;
}

#scoreboard {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#scoreboard .score {
    background: #FFD1C1;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    color: #333333;
    border: 2px solid #FF6F61;
    text-align: center;
}



#header #displayPlayer1{
    color: #3498DB;
}

#header #displayPlayer2{
    color: #FF6F61;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 85px);
    grid-template-rows: repeat(3, 85px); 
    gap: 12px; 
}

#board .cell{
    display: flex;
    background: #B3FFCC;
    border-radius: 14px; 
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
    border: solid 2px #A7E8BD;
}

#pawn {
    padding-top: 20px;
    display: flex;
    gap: 12px;
    justify-content: center;
}

#pawn .pawnCell {
    display: flex;
    background: #FFD1C1;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    width: auto; 
    height: auto;
    font-size: 24px;
    padding: 10px;
}

#pawn .pawnCell img {
    width: 50px;
    height: auto;
}

#restartButton{
    margin-top: 35px;
    padding: 8px 18px;
    font-size: 18px;
    background: #FFD1C1;
    border: 2px solid #FF6F61; 
    border-radius: 10px;
    color: #333333;
    cursor: pointer;
    transition: 0.3s;
}

#restartButton:hover {
    background: #FFB3A1; 
}
